* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  padding: 5px;
  justify-content: center;
  border-bottom: 1px solid black;
  width: 100%;
}
.body {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-self: start; */
  padding: 30px;
  gap: 10px;
  /* align-items: center; */
  font-size: 30px;
  justify-content: center;
}
h2 {
  font-size: 60px;
}
label {
  /* text-decoration: underline; */
  border-bottom: 3px solid black;
  width: fit-content;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
}
input {
  padding: 10px 5px;
border-radius: 5px;
border: 2px solid grey;


  height: 40px;
  font-size: 25px;
}
input:focus{
  /* border: 5px solid black; */
  box-shadow: 0px 0px 10px 01px grey;



}
button {
  padding: 5px 30px;
  font-size: 30px;
color: white;
  background-color: rgb(9, 151, 9);
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(14, 78, 1);
  transition: ease-in 0.1s;
  align-self: center;
  width: fit-content;
  border: 2px solid black;
}
button:hover {
  background-color: rgb(151, 19, 9);
  box-shadow: 0px 0px 10px 2px rgb(151, 19, 9);
}

.result {
  border: 1px solid black;
  padding: 10px 0px 0px 0px;
  /* align-self: self-start; */
  margin-top: -600px;
  margin-right: 100px;
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* justify-self: self-end; */
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#invoiceOutput {
  padding: 50px;
}
.copy-button {
  cursor: pointer;
  transition: all;
}

@media (min-width: 220px) and (max-width: 480px) {
  .body {
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    gap: 5px;
    /* align-items: center; */
    font-size: 25px;
    justify-content: center;
  }
  h2 {
    font-size: 30px;
  }
label{
  font-size: 20px;
}
  input {
    padding: 0px 5px;

    height: 30px;
    font-size: 15px;
  }
  button {
    padding: 2px 25px;
    font-size: 30px;
    color: white;
    background-color: rgb(9, 151, 9);
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    align-self: center;
    width: fit-content;
    box-shadow: 0px 0px 10px 2px rgb(14, 78, 1);
    transition: ease-in 0.1s;
  }
  button:hover {
    background-color: rgb(151, 19, 9);
    box-shadow: 0px 0px 10px 2px rgb(151, 19, 9);
  }

 .result {
  border: 1px solid black;
  padding: 10px 0px 0px 0px;
  /* align-self: self-start; */
  margin: 150px 0px;
  justify-self: self-end;
  width: fit-content;
  position: static;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
#invoiceOutput {
  padding: 40px;
}
.copy-button {
  cursor: pointer;
  transition: all;
}

}

@media (min-width: 481px) and (max-width: 768px) {
  .body {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: antiquewhite; */
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    gap: 5px;
    /* align-items: center; */
    font-size: 25px;
    justify-content: center;
  }
  h2 {
    font-size: 35px;
  }

  input {
    padding: 0px 5px;

    height: 30px;
    font-size: 15px;
  }
  button {
    padding: 2px 25px;
    font-size: 30px;
      color: white;

    background-color: rgb(9, 151, 9);
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    align-self: center;
    width: fit-content;
    box-shadow: 0px 0px 10px 2px rgb(14, 78, 1);
    transition: ease-in 0.1s;
  }
  button:hover {
    background-color: rgb(151, 19, 9);
    box-shadow: 0px 0px 10px 2px rgb(151, 19, 9);
  }

.result {
  border: 1px solid black;
  padding: 10px 0px 0px 0px;
  /* align-self: self-start; */
  margin: 150px 0px;
  width: fit-content;
  justify-self: self-end;
  position: static;

  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
#invoiceOutput {
  padding: 50px;
}
.copy-button {
  cursor: pointer;
  transition: all;
}

}

@media (min-width: 769px) and (max-width: 1279px) {
 .body {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    /* background-color: antiquewhite; */
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    /* background-color: aqua; */
    width: 50%;
    gap: 5px;
    /* align-items: center; */
    font-size: 25px;
    /* justify-content: center; */
  }
  h2 {
    font-size: 35px;
  }

  input {
    padding: 0px 5px;

    height: 30px;
    font-size: 15px;
  }
  button {
    padding: 2px 25px;
    font-size: 30px;
        color: white;

    background-color: rgb(9, 151, 9);
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    align-self: center;
    width: fit-content;
    box-shadow: 0px 0px 10px 2px rgb(14, 78, 1);
    transition: ease-in 0.1s;
  }
  button:hover {
    background-color: rgb(151, 19, 9);
    box-shadow: 0px 0px 10px 2px rgb(151, 19, 9);
  }

  .result {
  border: 1px solid black;
  padding: 10px 0px 0px 0px;
  width: fit-content;
  font-size: 25px;
 /* display: grid;
 align-self: flex-start; */
 /* margin-left: 00px; */
 margin-top: -200px;

 margin-right: 10px;
  /* position: static; */

  font-family: Arial, Helvetica, sans-serif;
}
#invoiceOutput {
  padding: 50px;
}
.copy-button {
  cursor: pointer;
  transition: all;
}

}
@media (min-width: 1280px) and (max-width: 1500px) {
  .body {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    /* background-color: antiquewhite; */
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    width: 50%;
    gap: 5px;
    /* align-items: center; */
    font-size: 25px;
    /* justify-content: center; */
  }
  h2 {
    font-size: 35px;
  }

  input {
    padding: 0px 5px;

    height: 30px;
    font-size: 18px;
  }
  button {
    padding: 2px 25px;
    font-size: 30px;
    color: white;

    background-color: rgb(9, 151, 9);
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    align-self: center;
    width: fit-content;
    box-shadow: 0px 0px 10px 2px rgb(14, 78, 1);
    transition: ease-in 0.1s;
  }
  button:hover {
    background-color: rgb(151, 19, 9);
    box-shadow: 0px 0px 10px 2px rgb(151, 19, 9);
  }

 .result {
  border: 1px solid black;
  padding: 10px 0px 0px 0px;
  /* align-self:flex-start; */
  /* margin-top: -550px; */
  margin-top: -300px;
  /* position: static; */
/* min-height: fit-content; */
  width: fit-content;
  justify-self: self-end;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
#invoiceOutput {
  padding: 50px;
}
.copy-button {
  cursor: pointer;
  transition: all;
}

}
